<ul class="item--list">
  <!-- <li class="item">
    <img class="item--img" src="images/01.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/02.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/03.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/04.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>

  <li class="item">
    <img class="item--img" src="images/05.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/06.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/07.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/08.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/09.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/10.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li>
  <li class="item">
    <img class="item--img" src="images/11.jpg" alt="" />
    <div class="item--details">
      <h3 class="item--title">Вільямса, 9</h3>
      <p class="item--description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempore
        quidem aliquam, vero itaque architecto qui minima hic saepe placeat?
      </p>
    </div>
  </li> -->
</ul>
