<header class="container">
  <div class="header--wrap">
    <div class="header--logo">
      <a class="header--link" href="https://www.gup.ua/">
        <img
          class="header--img"
          src="images/logo-ua-razom.svg"
          alt="Лого порталу GUP: сервіс прокату і оренди"
      /></a>
    </div>
    <div class="header--menu">
      <button type="button" class="header--btn" id="add-bulletin">
        <span class="ng-binding">Здати в оренду</span>
      </button>

      <div class="header--login">
        <a class="login--link">
          <span class="login--text">Увійти</span>
        </a>
      </div>
    </div>
  </div>
</header>
